<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabedAPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>23D8DF261F46B69B009AA7F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23D8DF421F46B69E009AA7F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23D8DF4D1F46B69F009AA7F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
